IA/face_recognition/boost_1_64_0/
PLN/stanfordNER/
PLN/TreeTagger*/
TreeTagger_old/
PLN/treetagger-python/
noticia_atual/
alinhamento_web/
__pycache__
*.png
*.jpg
IA/*.pyc
*.pyc
*.txt
*.json
*.weights
static/
*.tar.gz
noticias_*/
